<div *ngIf="products.length > 0; else loading">
  <h1>Product List</h1>
  <ul>
    <li *ngFor="let product of products">
      <div>
        <p>{{ product.name }}</p>
        <p>{{ product.description }}</p>
        <p>${{ product.price }}</p>
        <button (click)="addToCart(product)">Add to Cart</button>
      </div>
    </li>
  </ul>
  <div>
    <button type="button" (click)="goToCart()">Go to Cart</button>
    <button type="button" (click)="goToCheckout()">Go to Checkout</button>
  </div>
</div>

<ng-template #loading>
  <p>Loading products...</p>
</ng-template>