/vorlage/*.toc
/vorlage/*.out
/vorlage/*.xml
/vorlage/*.pdf
/vorlage/*.aux
/vorlage/*.bbl
/vorlage/*.bcf
/vorlage/*.gz
/vorlage/*.idx
/vorlage/*.blg
/vorlage/*.lof
/vorlage/*.lot
/vorlage/*.log
/vorlage/*.lol

/readme/*.toc
/readme/*.out
/readme/*.xml
/readme/*.pdf
/readme/*.aux
/readme/*.bbl
/readme/*.bcf
/readme/*.gz
/readme/*.idx
/readme/*.blg
/readme/*.lof
/readme/*.lot
/readme/*.log
/readme/*.lol
