body.webcomponents::before {
    content: "";
    position: fixed;
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9999;
    opacity: 0.8;
    pointer-events: none;
    background-image: url('https://web-components-resources.appspot.com/static/logo.svg');
  }
  