<h1>Checkout</h1>
<app-cart></app-cart>
<h3>Total Price: {{ totalPrice | currency }}</h3>
<section class="payment-info">
  <h2>Payment Information</h2>
  <div>
    <label for="cardNumber">Card Number</label>
    <input type="text" id="cardNumber" value="1234 5678 9012 3456" readonly>
  </div>
  <div>
    <label for="expiryDate">Expiry Date</label>
    <input type="month" id="expiryDate" value="2025-12" readonly>
  </div>
  <div>
    <label for="cvv">CVV</label>
    <input type="text" id="cvv" value="123" readonly>
  </div>
</section>

<div class="checkout-button">
  <button>Proceed to Payment</button>
</div>

<button type="button" (click)="goToCart()">Go to Cart</button>
<button type="button" (click)="goToProducts()">Go to Products</button>